---
layout: default
title: optimal-nmr Sequences
---
<h1 id="my-h1-id">List of tm-SPICE sequences</h1>
<details><summary>show here</summary>
<p>
<ul>
  {% for item in site.data.sequences_tmSPICE %}
    <li>
      <h3><a href="{{ item.link |relative_url }}">{{ item.name }}</a></h3>
      {{ item.text }}
    </li>
  {% endfor %}
</ul>
</p>
</details>

<h1 id="my-h1-id">List of TROP sequences</h1>
<details><summary>show here</summary>
<p>
<ul>
  {% for item in site.data.sequences_TROP %}
    <li>
      <h3><a href="{{ item.link |relative_url }}">{{ item.name }}</a></h3>
      {{ item.text }}
    </li>
  {% endfor %}
</ul>
</p>
</details>                        