.current {
   color: green;
}

body {
   background-color: #EDEDED  ;
   margin: 0;
}

.wrapper {
   width: 800px; 
   background-color: rgb(250, 250, 200);
   font-family: Helvetica,Arial,sans-serif;
   border: 1px solid green;
   margin: 0px auto;
   position: relative;
   clear: both;
}

.topping {
   width: 800px; 
   hieght: 120px;
   float: left;
   clear: both;
}

.footing {
   width: 800px; 
   hieght: 120px;
   float: left;
   clear: both;
   font-size: 75%;
}

.left-menu {
   width: 150px; 
   background-color: rgb(190, 190, 125);
   float: left;
   position: fixed;
   margin: 30px 25px 0 0;
   clear: both;
}

.right-place {
   width: 650px;
   float: right;
   background-color: rgb(220, 190, 200);
   clear: both;
}