
body {
   background-color: #EDEDED  ;
   margin: 0;
}

table.menutable {
   width: 100%;
   border-spacing: 0px 10px;
}

td.td-to-other {
   text-align: center;
   height: 25px;
/*   background: rgb(0,90,180); */
   background-image: url("/optimal-nmr-web/assets/images/button1.png");
}

td.td-to-other:hover {
/*   background-color: rgb(8,31,126);  */
   background-image: url("/optimal-nmr-web/assets/images/button2.png");
   font-weight: bold;
}

td.td-to-current {
   font-weight: bold;
   font-style: italic;
   text-align: center;
   height: 25px;
/*   background: rgb(0,90,180);  */
   background-image: url("/optimal-nmr-web/assets/images/button2.png");
}

a.menulink {
   color: black; 
   text-decoration: none;
}

a.menulink:hover {
   color: black; 
   text-decoration: none;
}

a.menulink:visited {
   color: black;
}

.mainframe {
   width: 820px; 
/*   border: 2px solid black;     */
   margin: 0px auto;
   position: relative;
}

.wrapper {
   width: 812px; 
   background-color: rgb(245, 245, 245);
   font-family: Helvetica,Arial,sans-serif;
/*   border: 1px solid green;   */
   margin: 0px auto;
   overflow: auto;
}

.topping {
   width: 800px; 
   height: 120px;
   margin: 0px 5px auto;
   text-align: center;
   float: left;
   clear: both;
}

.centerpiece {
   width: 800px; 
   margin: 0px 5px 0px 5px;
/*   border: 1px solid red;  */
   float: left;
   clear: both;
}

.footing {
   width: 800px; 
   height: 55px;
   margin: 5px 5px auto;
   font-size: 75%;
   text-align: center;
/*   border: 1px solid blue;  */
   float: left;
   clear: both;
}

.left-menu {
   width: 125px; 
   float: left;
   position: fixed;
   margin: 0px 0px 0 0;
   clear: both;
/*   background-color: rgb(250, 250, 250);   */
}

.right-place {
   width: 665px;
   float: right;
   padding: 5px 0px 5px 0px;
/*   background-color: rgb(250, 250, 250);   */
   clear: both;
}

#my-h1-id {
   padding: 0 0 5px 25px;
   border-bottom: 1px solid #ccc;
}

#my-h4-id {
   padding: 0 0 5px 25px;
}

p {
   padding: 0 0 0 25px;
}

a {
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}