<!doctype html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <meta charset="utf-8">
    <meta content="text/html">
    <meta http-equiv="content-type">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
    <title>{{ page.title }}</title>
  </head>
  
  <body>
  <div class="mainframe">
  <div class="wrapper">
    <div class="topping">
       <img  alt="header image" border="0" src="{{ '/images/temporary-logo.png' | relative_url}}">
    </div>  
  
    <div class="centerpiece">
      <div class="left-menu">
        {% include navigation.html %}
      </div>
    
      <div class="right-place">
        {{ content }}
      </div>
    </div>  

    <div class="footing">
       <hr />
       &copy; 2021 optimal-nmr.net
    </div>  
    
  </div>
  </div>  
  </body>
  
</html>

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>