<!doctype html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <meta charset="utf-8">
    <meta content="text/html">
    <meta http-equiv="content-type">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
    <title>{{ page.title }}</title>
  </head>
  
  <body>
  <div class="wrapper">
    <div class="topping">
       OPTIMAL NMR
    </div>  
  
    <div class="centerpiece">
      <div class="left-menu">
        {% include navigation.html %}
      </div>
    
      <div class="right-place">
        {{ content }}
      </div>
    </div>  

    <div class="footing">
       &copy; 2021 optimal-nmr.net
    </div>  
    
  </div>  
  </body>
  
</html>
